
*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
color: rgb(44, 44, 44);
font-family: 'Noto Sans KR', sans-serif;
}

.wrapper{
background-color: rgb(240, 240, 240);
width: 100%;
}

.clear{
clear: both;
}

header{
width: 100%;
height: 100vh;
background-image: url(../../IMG/Aesop/store2.jpg);
background-size: 124% 105%;
background-repeat: no-repeat;
background-position: top left;
}

.main_slogan{
width: 600px;
height: 100px;
position: absolute;
top: calc( 50% - 30px);
left: calc(50% - 450px);
}

.main_slogan p{
color: #C0B6B2;
text-align: left;
font-size: 13px;
font-weight: 100;
}

.nav{
width: 200px;
height: 100vh;
position: fixed;
padding-top:100px;
z-index: 998;
background-color: #5f433c;
}

.navoriginal{
transition: all 1s;
}

.navback{
background-color: rgba(255, 255, 255, 0.5);
background-color: #5f433c;
transition: all 1s;
}

.nav li{
padding: 20px;
}

.nav li a{
font-weight: 700;
width: 100px;
padding: 20px;
font-size: 14px;
color: #080808;
}



ul.sub_list{
position: absolute;
background-color: #bda48e;
height: 100vh;
width: 200px;
top: 0;
left: 200px;
transition: all 0.4s;
z-index: 9999 !important;
}

.sub_list li{
padding: 20px;        
}

.one{
padding-top: 165px;      
}

.two{
padding-top:  230px;
}

.three{
padding-top: 295px;
}

.three input{
margin-top: 10px;
width: 120px;
margin-left: 40px;
background-color: transparent;
border: none;
border-bottom: 1px solid rgb(32, 32, 32);
}

.sub_nav{
margin-top: 15px;
width: 100%;
float: left;
position: fixed;
z-index: 996;
}

.sub_nav li{
float: right;
padding: 5px;
border: 1px solid #362622;
margin-right: 10px;

}

.sub_nav li:first-child{
margin-right: 50px;
}

.sub_nav li a {
font-weight: 300;
color: #362622;
padding: 5px;
font-size: 13px;
}

article{
width: calc(100% - 200px);
margin-left: 200px;
}

.top{
height: 760px;
margin-top: 100px;
width: 100%;
opacity: 0;
position: relative;
}

.section_title{
width: 93%;
margin-left: 50px;
padding-top: 60px;
border-bottom: 3px solid rgb(44, 44, 44);   
}

.filmWrapper{
width: calc(100% - 300px);
overflow: hidden;
float: left;
margin-left: 150px;
}

.hover{
position: absolute;
height: 420px;
width: 310px;
background-color: rgba(0, 0, 0, 0.432);
margin: 10px;
opacity: 0;
z-index: 19;
}

.hover p{
line-height: 460px;
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 500;
}

.hover:hover{
opacity: 1;
transition: 1s;
}



section.top ul{ 
width: 1500px;
height: 500px;
margin: 0 auto;
float: left;
}

section.top ul li{ 
float: left;
margin-right:10px;
position: relative;
}

section.top ul li a{
display: block;
width: 330px;
text-align: center;
}

section.top ul img{
height: 400px;
margin: 40px 0px 0px 0px;
text-align: center;
}

section.top ul li:last-child img{
vertical-align: bottom;
height: 350px;
margin: 90px 0px 0px 0px;
text-align: center;
}

section.top .arrow_left{
width: 150px;
height: 500px;
vertical-align: middle;
z-index: 992;
position: absolute;
left: 0px;


}

section.top .arrow_right{
float: right;
width: 150px;
height: 500px;
vertical-align: middle;
z-index: 992;
position: absolute;
right: 0;
}

section.top .arrow_left img{
margin-top: calc(250px - 70px);
z-index: 49;
}

section.top .arrow_right img{
margin-top: calc(250px - 70px);
z-index: 49;
}

section.top .des_top{
    width: 330px;
    float: left;
    text-align: center;
}

section.top .des_top h4{
    color: rgb(34, 34, 34);
    font-weight: 500;
    font-size: 16px;
}

section.top .des_top p{
    color: rgb(34, 34, 34);
    font-size: 14px;
}

.middle{
height: 100vh;
height: 760px;
opacity: 0;
}

section.middle ul img{
width: 850px;
width: 64%;
float: right;
position: relative;
z-index: 99;
margin-top: -80px;
}


section.middle .des_middle{
margin-left: 50px;
width: calc( 100% - 870px);
position: absolute;
z-index: 990;
margin-top: 150px;
}

section.middle .des_middle h2{
color: rgb(34, 34, 34);
font-weight: 500;
font-size: 16px;
text-align: left;
}

section.middle .des_middle p{
width: 450px;
margin-top: 50px;
color: rgb(34, 34, 34);
font-size: 14px;
text-align: justify;
} 

section.middle .more_button{
width: 120px;
border: 1px solid rgb(34, 34, 34);
margin-top: 50px;
background-color: rgb(34, 34, 34);
}

section.middle .more_button p{
width: 100px;
margin-top: 0 ;
text-align: center;
padding: 10px;
font-size: 12px;
color: #F0F0F0;
}

section.middle .more_button:hover{
transition: 0.3s;
background-color: transparent;
border: 1px solid rgb(34, 34, 34);
}

section.middle .more_button:hover p{
color: rgb(34, 34, 34);
}

.bottom{
height: 100vh;
height: 760px;
opacity: 0;
}

section.bottom ul{
margin-left: 50px;
margin-top: 30px;
}

section.bottom ul img{
width: 52%;
float: left;
}

section.bottom .des_bottom{
margin-left: 50px;
width: calc( 100% - 60%);
float: left;
z-index: 999;
margin-top: 150px;

}

section.bottom .des_bottom h2{
color: rgb(34, 34, 34);
font-weight: 500;
font-size: 16px;
text-align: left;
}

section.bottom .des_bottom p{
width: 100%;
margin-top: 20px;
color: rgb(34, 34, 34);
font-size: 14px;
text-align: justify;
} 

section.bottom .more_button{
width: 120px;
border: 1px solid rgb(34, 34, 34);
margin-top: 80px;
background-color: rgb(34, 34, 34);
}

section.bottom .more_button p{
width: 100px;
margin-top: 0 ;
text-align: center;
padding: 10px;
font-size: 12px;
color: #F0F0F0;
}

section.bottom .more_button:hover{
transition: 0.3s;
background-color: transparent;
border: 1px solid rgb(34, 34, 34);
}

section.bottom .more_button:hover p{
color: rgb(34, 34, 34);
}

.bottom2{
opacity: 0;
}
.sentence{
width: 800px;
text-align: left;
margin-left: 50px;
padding-top: 50px;
padding-bottom: 150px;
}

.sentence p{
font-size: 30px;
}

.last{
width: 93%;
margin-left: 50px;
padding-top: 60px;
border-bottom: 1px solid rgb(44, 44, 44);   
}

footer{
width: 980px;
height: 150px;
margin: 0 auto;
padding-bottom: 60px;
margin-top: 40px;
margin-left: 250px;
}

footer ul{
height: 140px;
width: 150px;
float: left;
margin-right: 50px;
padding-bottom: 50px;
}

footer ul li a {
font-size: 13px;
}

.address{
height: 140px;
width: 300px;
float: left;
}

.address p{
font-size: 13px;
line-height: 20px;
}

.show{
transition: all 1s;
opacity: 1;
}









